h1 {
font-family: sans-serif;
text-align: left;
padding-left: 5%;
}

#description {
text-align: left;
padding-left: 5%;
}

input {
width: 30%;
padding: 2px;
}

input[type=submit] {
padding:5px;
width: 10%; 
border:0 none;
cursor:pointer;
}

body {
font-family: sans-serif;
background-color: #eee;
}


#idealSleepTable {
font-size:20px;
border: 1px solid black;
border-spacing: 10px;

}